.card-ad {
    padding: .5rem 0 1rem;
    overflow: hidden;
    background: #fff;
    h2 {
        font-weight: normal;
        height: 3rem;
        line-height: 3rem;
        border-left: 3px solid #e9203d;
        padding-left: .5rem;
        margin-bottom: .5rem;
    }
    .ad-item {
        float: left;
        width: 33.33%;
        height: 14rem;
        font-size: 0;
        padding: 0 0 .4rem .4rem;
        box-sizing: border-box;
        border-left: 1px solid #f1f1f1;
        border-top: 1px solid #f1f1f1;
        a {
            display: block;
            img {
                width: 100%;
            }
        }
        
    }
}